---
import Layout from '../../layouts/Layout.astro';
import Lightning from '../../components/Services/Lighting.astro';
import Footer from '../../components/Footer.astro';

---

<Layout title="Paradiso Music">
	<main>	
		<div>
			<Lightning />		
		</div>
		    <Footer/>
	</main>
</Layout>