---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import Equipment from '../../components/Services/RentalEquipment.astro';

---

<Layout title="Paradiso Music">
	<main>	
		<div>
			<Equipment />		
		</div>
		    <Footer/>
	</main>
</Layout>