---
import Layout from '../../layouts/Layout.astro';
import SimpleSlider from '../Sliders.jsx'
import { getI18N } from "../../i18n";
import "slick-carousel/slick/slick.css"; 
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---

<Layout title="Paradiso Music">
	<main>
		<SimpleSlider client:only="react" />
		<div>
			<h2>{ i18n.SHORT_DESCRIPTION}</h2>
		</div>
	</main>
</Layout>