---
import {Form} from '../components/Form'
---

<div class="bg-white text-black flex xl:flex-row justify-center items-center p-16 md: flex-col">
  
    <div class="w-1/2 flex flex-col justify-center items-center p-8">
    <h1 class="xl:text-7xl md:text-4x1text-bold flex text-black mb-8 ml-2">Let the event production experts bring your event to life!</h1>
      </div>
      <Form client:load/>

 
</div>