---
import ParadisoMusicLogo from '../assets/ParadisoMusicLogo.png'
---

<div class="ml-4 sm:ml-8 md:ml-16 lg:ml-32 xl:ml-40">
    <header class="flex justify-between items-center py-5 w-full mx-auto">  
        <div class="flex items-center">
            <nav class="flex flex-row gap-x-5 items-center">
                <img class="rounded-full w-16 h-16 object-contain" 
                src={ParadisoMusicLogo.src} 
                alt="logo">
                <a href="/about us">ABOUT US</a>       
                <a href="/services">SERVICES</a>
                <a href="/events">EVENTS</a>
                <a href="/contact us">CONTACT US</a>         
            </nav>
        </div>
        <div class="ml-auto mr-20">
            <span >En-Es</span>
        </div>
    </header>
</div>

