---
import ParadisoMusicLogo from '../assets/ParadisoMusicLogo.png'
import { useState } from 'react';


---

<div class="ml-4 sm:ml-8 md:ml-16 lg:ml-32 xl:ml-40">
    <header class="flex justify-between items-center py-5 w-full mx-auto">  
        <div class="flex items-center">
            <nav class="flex flex-row gap-x-5 items-center">
                <img class="rounded-full w-16 h-16 object-contain" 
                src={ParadisoMusicLogo.src} 
                alt="logo">
                <a href={ getRelativeLocaleUrl(lang, 'about') } > { t("nav.about") }</a>       
                <a href={ getRelativeLocaleUrl(lang, 'services')} > { t("nav.services")}</a>
                <a href={ getRelativeLocaleUrl(lang, 'events') } > { t("nav.events")}</a>
                <a href={ getRelativeLocaleUrl(lang, 'contact') } > { t("nav.contact")}</a>         
            </nav>
        </div>
        <div class="ml-auto mr-20">
            <span ><LanguagePicker/></span>
        </div>
    </header>    
</div>

