---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Entertain from '../components/Services/Entertainment.astro';

---

<Layout title="Paradiso Music">
	<main>	
		<div>
			<Entertain/>		
		</div>
		    <Footer/>
	</main>
</Layout>