---

import Layout from '../layouts/Layout.astro';
import SimpleSlider from '../components/Sliders.jsx'

import "slick-carousel/slick/slick.css"; 
---

<Layout title="Paradiso Music">
	<main>
		<SimpleSlider client:only="react" />
	</main>
</Layout>

