---
import Sound from '../components/Services/LiveSound.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Paradiso Music">
	<main>	
		<div>
			<Sound />		
		</div>
		    <Footer/>
	</main>
</Layout>
