---
import staging from '../../Assets/stage.png';
import '@fontsource-variable/montserrat';
---

<div class="flex justify-center items-center pb-8 border-b-[1px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-screen-lg items-center md:px-8">     
        <img class="mx-auto w-[115%] h-auto md:max-w-none" src={staging.src} alt="Staging">     
      <div class="px-32 flex flex-col justify-between">
        <div class="mb-8 md:mt-8">
          <h2 class="text-4xl inline-block border-b-[1px]" style={{ fontFamily: 'montserrat' }}>Staging</h2>
        </div>
        <h2>- Description</h2>
        <h2>- Description</h2>
        <h2>- Description</h2>
        <h2>- Description</h2>
      </div>
    </div>
  </div>
  